.fondo{
    background-image: url(ba1.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.colfondo{
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.btn{
    font-weight: bold;
}

#honolulu{
    height: 50vh;
    width: 50vw;
}

.footer .container-footer{
    background-image: linear-gradient(to right, #004d7a, #008793);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container-footer a{
    text-decoration: none;
    color: white;
    padding: 3rem 0;
    width: 100px;
    text-align: center;
}